/*
steps.css
*/
.steps_menu {
	background-color: #FFFFE0; /* #FFFFE0; */
     margin: 1%;
}
/*
.arrow_box {
	position: relative;
	background: #00ffff;
	border: 1px solid #c2e1f5;
	float:left;
	margin-left: 25px;	
}

.arrow_box:after {
	 width:0;
	 position:absolute;
     height:0;
     float:left;
     content:" ";
     left:100%;
     top:0%;
     border-left:30px solid #c2e1f5;
     border-top:40px solid transparent;
     border-bottom:40px solid transparent;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;     
}
*/
.menu_circle {
     position:relative;     
     background: #c2e1f5;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     float:left;
     margin-left: 20px;
     outline: none;
}
.menu_name {
     font-family: sans-serif;
     position: relative;
     top:20%;
     left:0%;
}

.active {
     background: green;
}

.invisible { 
     visible : false;
}
.main_container {
     background: #FFFFE0;
     font-family: sans-serif;
     font-size: 1.2em;

     overflow:scroll;
     width:80%;
     height:800px;
     left:0;
     right:0;
     padding-left:3%;
     margin: auto;
}

.steps_title {
     position:relative;
     color: blue;
     font-size: 2em;
     left:0;
     right:0;
     margin: auto;
     top:10px;
}

.steps_desc {
     position: relative;
     padding: 5px;
     top:10px;
}
